<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Contained Flask</title>
  </head>
  <body>
    <h1>Hello!</h1>
    
    <p><h1>Containers</h1>

      <p>Hi! My name is Albus and I am your new Product Owner.
          I've heard of containers recently and I'm quite keen to get the team involved in creating a proof of concept.
          More details will be shared with you as my background is not specially technical!
      </p>
      
      This container has been created by: <b>Pete</b></p>
  </body>
</html>
